
.page {
  font-size: 16px; /* Tamaño de fuente */
  line-height: 20px; /* Altura de línea */
  box-sizing: border-box;
  display: flex;
      align-items: center;
      flex-direction: column;
      margin:0 auto;
      width: 100%;
          background: rgba(0, 0, 0, 1)
}

.page__content{
  width: 100%;
  max-width: 880px;
}
@media screen and (max-width:970px){
  .page{
    max-width: 100%;
        background: rgba(0, 0, 0, 1)
  }
}
